@import "./fonts.scss";
@import "./animations.scss";
@import "./element_theme.css";
// $--font-path: "~element-ui/lib/theme-chalk/fonts";
// @import "~element-ui/packages/theme-chalk/src/index";

$font-size-default: 14px;

// app

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: $font-size-default;
  line-height: 20px;
  letter-spacing: 0.25px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-weight: 600 !important;
}

h1 {
  font-size: 2.8rem;
  line-height: 3;
}

h2 {
  font-size: 2.2rem;
  line-height: 1.1;
}

h4 {
  line-height: 2;
  font-weight: 400;
}

.el-dropdown-link {
  cursor: pointer;
}

